name: R-CMD-check

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  R-CMD-check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v27
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Build Nix environment
        run: |
          nix-build default.nix -A shell --out-link nix-shell-ci

      - name: Run R CMD check
        run: |
          nix-shell --run "Rscript -e '
            devtools::document()
            devtools::check(error_on = \"error\")
          '"
