name: R-CMD-check

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  R-CMD-check:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v27

      - name: Setup Cachix (rstats-on-nix)
        uses: cachix/cachix-action@v15
        with:
          name: rstats-on-nix
          extraPullNames: johngavin

      - name: Run R CMD check
        run: |
          export NIX_PATH=nixpkgs=https://github.com/rstats-on-nix/nixpkgs/archive/2026-01-26.tar.gz
          nix-shell default.nix -A shell --run "Rscript -e 'devtools::document(); devtools::check(error_on = \"error\")'"
